#navSpace {
    background-color: black;
    padding: 2%;
}
#adSpace {
    background-color: black;
    padding: 2%;
    position: sticky;
    top: 70%;
}
#logoLarge {
    height: 34em;
    position: relative;
    left: 33%;
}
h1 {
    color: white;
    font-family: 'Kirang Haerang', cursive;
    top: 1em;
    position: relative;
}
.nav {
    float: right;
    color: white;
    font-family: 'Kirang Haerang', cursive;
}
#blog {
    padding: 0 1em;
}
#podcast {
    padding: 0 2em;
}
/* CSS FOR THE BLOG SPACE IS RIIIIGHT HERE */
.containerImgs {
    width: 200px;
    height: 200px;
    position: fixed;
}
#juiceBox {
    top: 60%
}
#kidsText {
    left: 82%;
    top: 60%
}
#coffeeCup {
    left: 82%;
}
#blogSpace {
    margin: 0 auto;
    width: 61%;
    border: solid 2px;
    height: 33em;
    overflow: scroll;
}